html,
body {
  height: 100%;
  /* background-color: #e6e6e6; */
  color: #43373f;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
